.image-upload-button{

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    label{
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
    }
}